   .timeline {
    padding: 2rem;
  }
  
  .vertical-timeline-element {
    padding-bottom: 60px; /* Increase the padding to accommodate the icon */
  }
  
  .vertical-timeline-element-content {
    background: white;
    box-shadow: 2px 2px 5px gray;
  }
  
  .vertical-timeline-element-content .vertical-timeline-element-subtitle {
    color: gray;
  }
  
  .vertical-timeline-element-icon {
    color: #2E5090 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
  }
  